
<div class="py-16 2xl:py-32">
    <div class="max-w-7xl mx-auto flex flex-col items-center gap-20">
        <div class="flex flex-col items-center gap-8">
            <span class="material-symbols-outlined text-9xl! text-red-700">
            cloud_off
            </span>
            <h2 class="text-5xl font-bold text-center">No pudimos cargar tu perfil</h2>
            <p class="text-lg fontmedium text-taupe-500 text-center">Hubo un inconveniente al intentar obtener los datos desde GitHub. Por favor verifica tu conexión o intenta de nuevo en unos momentos.</p>
        </div>
        <button routerLink="" class="flex items-center gap-2 cursor-pointer bg-red-700 text-white hover:bg-red-800 transition-colors px-6 py-4 rounded-4xl">
            <span class="material-symbols-outlined">
                home
            </span>
            Volver al inicio</button>
    </div>
</div>


