<div class="py-16">
    <div class="max-w-7xl mx-auto px-8 flex items-center gap-6">
        <div class="flex flex-col gap-6">
            <h2 class="text-6xl font-bold">Tu <span class="text-red-700">Instructor</span></h2>
            <p class="text-taupe-500 text-lg">Con más de 10 años transformando ideas en aplicaciones robustas, mi misión es acortar tu curva de aprendizaje en el ecosistema de Angular. No solo enseñamos código; construimos arquitecturas que perduran</p>
            <div class="flex gap-8">
                <button class="bg-red-700 text-white text-md font-medium flex items-center gap-2 cursor-pointer py-2 px-7 rounded-lg hover:bg-red-800 transition-colors">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    Email
                </button>   
                <button class="bg-amber-600 text-white flex items-center gap-2 cursor-pointer py-2 px-7 rounded-lg hover:bg-amber-700 transition-colors">
                    <span class="material-symbols-outlined">
                        link
                    </span>
                    Linkedin
                </button>
            </div>
        </div>
        <div>
            <img class="w-3/4 m-auto rounded-4xl shadow-2xl" src="instructor.webp" alt="Imagen del Instructor del curso de Angular Maestro">
        </div>
    </div>
</div>
