<nav class="text-gray-500 font-medium px-6 py-2  sm:px-12 sm:py-4 flex justify-between gap-2 shadow-2xs">
    <button class="hidden sm:flex items-center gap-2 text-red-700 text-lg cursor-pointer transition-colors hover:text-hover-text" routerLink="">
        <app-angular />
        Angular Master
    </button>
    <div class="flex gap-4 sm:gap-8">
        <button class="text-xs sm:text-sm md:text-lg cursor-pointer transition-colors hover:text-hover-text" routerLink="">WELCOME</button>
        <button class="text-xs sm:text-sm md:text-lg cursor-pointer transition-colors hover:text-hover-text" routerLink="about-me">ABOUT ME</button>
    </div>
    <div class="flex gap-4 sm:gap-8">
        <button routerLink="profile" class="p-4 rounded-4xl cursor-pointer hover:bg-bg-secondary transition-colors flex">
            <span class="material-symbols-outlined">
                person
            </span>
        </button>
        <button class="text-xs sm:text-sm md:text-lg cursor-pointer transition-colors hover:text-hover-text" routerLink="login">LOGIN</button>
        <button class="text-xs sm:text-sm md:text-lg py-2 px-4 rounded-md cursor-pointer text-white bg-red-700 transition-colors hover:bg-red-600" routerLink="register">REGISTER</button>
    </div>
</nav>