<div class="bg-bg-secondary py-16 2xl:py-32">
    <div class="max-w-7xl mx-auto px-8 flex flex-col gap-8">
        <div class="flex flex-col gap-4">
            <h2 class="text-5xl font-bold">¿Qué vas aprender?</h2>
            <p class="text-taupe-500 font-medium">Un camino estructurado hacia la maestría técnica.</p>
        </div>
        <div class="flex flex-col gap-4 lg:grid lg:grid-cols-3 lg:grid-rows-5 lg:gap-4">
            <div class="p-8 rounded-3xl bg-bg-primary col-span-2 row-span-3 flex flex-col md:flex-row items-center gap-2">
                <div class="flex flex-col gap-8">
                    <div class="bg-red-200 w-fit p-3 rounded-2xl">
                        <img class="w-9" src="signal.png">
                    </div>
                    <h3 class="text-2xl font-bold">Arquitectura de Señales (Signals)</h3>
                    <p class="text-taupe-500">Domina el nuevo paradigma de reactividad de Angular. Aprende a manejar el estado de forma eficiente y sin zone.js</p>
                </div>
                <img src="signal-code.png" class="w-1/2 rounded-4xl">
            </div>
            <div class="p-6 py-8 rounded-3xl text-white bg-red-700 row-span-3 col-start-3 flex flex-col justify-between">
                <h3 class="font-medium text-2xl">Standalone Components</h3>
                <p class="text-taupe-400 font-med">Di adiós a los NgModules pesados. Construye aplicaciones ligeras y modulares desde el primer día.</p>
                <div class="flex gap-4 items-center">
                    <span class="font-bold text-4xl">100%</span>
                    <span class="font-medium">Actualizado a v21</span>
                </div>
            </div>
            <div class="p-6 rounded-3xl bg-[#f3eed7] row-span-2 row-start-4 flex flex-col gap-4 justify-center">
                <div class="bg-white w-fit p-3 rounded-2xl">
                    <img class="w-9" src="cohete.png">
                </div>
                <h3 class="text-2xl font-bold">SSR & Hydration</h3>
                <p class="text-taupe-500">Optimización extrema para SEO y rendimiento utilizando Server Side Rendering y Progressive Hydration.</p>
            </div>
            <div class="p-6 rounded-3xl bg-[#e7e3cc] col-span-2 row-span-2 row-start-4 flex items-center">
                <div class="flex flex-col gap-4">
                    <h3 class="text-2xl font-bold ">Control Flow Moderno</h3>
                    <p class="text-taupe-500">Domina la nueva sintaxis &#64;if, &#64;for, y &#64;switch para plantillas más limpias y rápidas que nunca</p>
                </div>
                <img src="render-conditional.png" class="w-1/3 rounded-4xl">
            </div>
        </div>
    </div>
</div>

