<div class="bg-bg-secondary py-12">
    <div class="max-w-7xl mx-auto px-8 flex flex-col gap-8">
        <div class="flex flex-col gap-4">
            <h2 class="text-5xl font-bold">¿Qué vas aprender?</h2>
            <p class="text-taupe-500 font-medium">Un camino estructurado hacia la maestría técnica.</p>
        </div>
        <div class="grid grid-cols-3 grid-rows-5 gap-4">
            <div class="p-8 rounded-3xl bg-bg-primary col-span-2 row-span-3 flex items-center gap-2">
                <div class="flex flex-col gap-8">
                    <h3 class="text-xl font-bold">Arquitectura de Señales (Signals)</h3>
                    <p class="text-taupe-500">Domina el nuevo paradigma de reactividad de Angular. Aprende a manejar el estado de forma eficiente y sin zone.js</p>
                </div>
                <img src="signal.png" class="w-1/2 rounded-4xl">
            </div>
            <div class="p-6 rounded-3xl text-white bg-red-600 row-span-3 col-start-3 flex flex-col justify-between">
                <h3 class="font-medium text-2xl">Standalone Components</h3>
                <p class="text-taupe-400 font-med">Di adiós a los NgModules pesados. Construye aplicaciones ligeras y modulares desde el primer día.</p>
                <div class="flex gap-4 items-center">
                    <span class="text-bold text-4xl">100%</span>
                    <span class="text-taupe-400 font-med">Actualizado a v21</span>
                </div>
            </div>
            <div class="p-6 rounded-3xl bg-[#f3eed7] row-span-2 row-start-4">
                3
            </div>
            <div class="p-6 rounded-3xl bg-[#e7e3cc] col-span-2 row-span-2 row-start-4">
                4
            </div>
        </div>
    </div>
</div>