<div class="px-12 py-4 flex flex-col gap-4 lg:grid grid-cols-3 items-center text-xs lg:text-sm xl:text-base">
    <h2 class="text-red-600 font-bold cursor-pointer hover:text-hover-text transition-colors">Angular Maestro</h2>
    <div class="flex m-auto gap-4 md:gap-8 justify-center">
        <button class="cursor-pointer hover:text-hover-text transition-colors" routerLink="">Términos</button>
        <button class="cursor-pointer hover:text-hover-text transition-colors" routerLink="">Soporte</button>
        <button class="cursor-pointer hover:text-hover-text transition-colors" routerLink="">Linkedin</button>
        <button class="cursor-pointer hover:text-hover-text transition-colors" routerLink="">GitHub</button>
    </div>
    <p class="text-center md:text-right">© 2026 Angular Maestro. Todos los derechos reservados.</p>
</div>