
<div class="py-16 2xl:py-32">
    <div class="max-w-7xl mx-auto flex flex-col items-center gap-20">
        <div class="flex flex-col p-2 md:flex-row gap-8 md:p-4">
            <div class="flex flex-col items-center text-center gap-4 bg-bg-secondary py-6 sm:px-4 sm:py-12 rounded-xl">
                <img [src]="profile().avatar_url" class="rounded-full w-40 border-4 border-white shadow-xl" alt="Imagen del usuario">
                <h2 class="text-xl font-bold">{{profile().name}}</h2>
                <a [href]="profile().html_url" target="_blank" class="flex items-center gap-2 bg-gray-800 text-white px-6 py-3 rounded-full cursor-pointer hover:bg-gray-900 transition-colors active:scale-95">
                    <span class="material-symbols-outlined">
                        code
                    </span>
                    Perfil de Github
                </a>
            </div>
            <div class="bg-bg-tertiary p-3 sm:p-8 rounded-xl flex flex-col gap-4 justify-between">
                <div class="flex flex-col gap-4">
                    <h3 class="text-red-700 font-bold text-lg sm:text-xl">BIOGRAFÍA TÉCNICA</h3>
                    <p class="text-taupe-500 font-medium text-base sm:text-lg min-h-12">{{profile().bio || 'Sin biografía disponible'}}</p>
                </div>
                <hr class="border-bg-quaternary border">
                <div class="flex flex-col gap-4">
                    <h3 class="text-red-700 font-bold text-lg sm:text-xl">INFORMACIÓN PROFESIONAL</h3>
                    <div class="flex flex-col gap-4 sm:flex-row sm:gap-0 justify-between min-h-8">
                        <div>
                            <p class="flex items-center gap-2">
                                <span class="material-symbols-outlined text-red-700!">
                                    home_work
                                </span>
                                Empresa:
                                <span class="text-taupe-500 font-medium">
                                    {{profile().company || 'Desconocida'}}
                                </span>
                            </p>
                        </div>
                        <div>
                            <p class="flex items-center gap-2">
                                <span class="material-symbols-outlined text-red-700!">
                                    location_on
                                </span>
                                Ubicación:
                                <span class="text-taupe-500 font-medium">
                                    {{profile().location || 'Desconocida'}}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <hr class="border-bg-quaternary border">
                <div class="flex flex-col sm:flex-row justify-between gap-1">
                    <app-stat-badge [statNumber]="profile().public_repos" statText="Repositorios" />
                    <app-stat-badge [statNumber]="profile().followers" statText="Seguidores" />
                    <app-stat-badge [statNumber]="profile().following" statText="Siguiendo" />
                </div>
            </div>
        </div>
        <app-repos-section [repos]="this.repos()" />
    </div>
</div>