<div class="py-16 2xl:py-32 ">
    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-3 grid-rows-5 gap-6">
            <div class="p-8 rounded-3xl bg-bg-secondary col-span-2 row-span-3 flex flex-col gap-8">
                <span class="material-symbols-outlined text-red-700 text-4xl!">
                    code
                </span>
                <div class="flex flex-col gap-4">
                    <h3 class="font-bold text-4xl">Pasion por la Enseñanza</h3>
                    <p class="text-taupe-500 text-lg">He pasado la última decada navegando entre arquitecturas de gran escala y mentorías personalizadas. Creo firmemente que la mejor forma de dominar Angular es ensuciandome las manos con proyectos reales, entendiendo el "por qué" antes que el "cómo".</p>
                </div>
                <hr class="text-taupe-200">
                <div class="flex gap-8">
                    <div>
                        <span class="font-bold text-red-700 text-3xl">+10</span>
                        <p class="text-sm text-taupe-500 font-medium">AÑOS DE EXP</p>
                    </div>
                    <div>
                        <span class="font-bold text-red-700 text-3xl">+5K</span>
                        <p class="text-sm text-taupe-500 font-medium">ESTUDIANTES</p>
                    </div>
                </div>
            </div>
            <div class="p-6 py-8 rounded-3xl bg-[#e7e3cc] row-span-3 col-start-3 flex flex-col gap-4">
                <h3 class="font-bold text-xl">Stack Dominado</h3>
                <ul class="list-disc list-inside marker:text-red-700 flex flex-col gap-2 font-medium">
                    <li>
                        Angular Core
                    </li>
                    <li>
                        RxJS (Reactive)
                    </li>
                    <li>
                        NgRx (State)
                    </li>
                    <li>
                        TypeScript 5.x
                    </li>
                    <li>
                        Microfrontends
                    </li>
                </ul>
            </div>
            <div class="p-6 rounded-3xl bg-[#e7e3cc] row-span-2 row-start-4 flex flex-col gap-5">
                <h3 class="italic font-bold text-lg">Proyectos Destacados</h3>
                <div>
                    <span class="text-red-700 font-semibold">FinTech Global</span>
                    <p class="text-taupe-500">Migración de arquiectura monolitica a micro-frontends con Angular.</p>
                </div>
                <div>
                    <span class="text-red-700 font-semibold">EduPlatform</span>
                    <p class="text-taupe-500">Diseño de sistemas de diseño reactivo escalable para 2M+ usuarios.</p>
                </div>
            </div>
            <div class="p-6 rounded-3xl bg-red-700 col-span-2 row-span-2 row-start-4 flex items-center">
                <p class="italic text-gray-300 text-2xl font-light">"El código limpio no es un lujo, es la cortesía que un desarollador le debe a su 'yo' del futuro y a sus compañeros de equipo."</p>
            </div>
        </div>
    </div>
</div>